h1{font-weight:normal;margin:0px 0px 10px 0px;}
h2{font-weight:normal;font-family:sans-serif;margin:15px 0px 6px 0px;}
p{margin:0px;}
body{margin:0px}
.copy{text-align:center;}
.responsive{width:100%;height:auto;}
.content{padding-top:10px;margin:auto;width:90%;}
.card{text-align:center;margin:50px auto 50px auto;width:60%;border:1px solid #000;border-radius:7px;padding:40px;background-color:#fec;}
img{border-radius:10px;pointer-events:none;margin:10px 0px;}
button{margin:20px 0px;}
hr{margin:0px;}

#gallery { align-content:center; display: flex; flex-wrap: wrap; }
#gallery img {padding:10px;border-radius:18px;max-width:90%;}
#gallery a {margin:auto;}
.local-nav { width:70%; text-align:center; margin:auto; }
.chevron {color:#ccc;padding:6px;font-size:26px;}
.chevron a {color:#000;text-decoration: none;}

/* Hide the checkbox */
.menu-checkbox {display:none;}

/* Use the content property to swap symbols */
.menu-btn:before {content:"\2630";width:24px;text-align: center; }
.menu-checkbox:checked ~ .menu-btn:before {content:"\d7";}

/* Show dropdown when checkbox is checked */
#menu-toggle:checked ~ .dropdown {display: block;}

#tim-title {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

/* Style the hamburger icon label */
.menu-btn {
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  padding: 6px;
  position: relative;
  width:30px;
  height:30px;
  z-index: 1;
}

/* Dropdown Menu (Hidden by Default) */
.dropdown{
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px #666;
  z-index: 1;
  padding:4px 10px;
}
/* Links inside the dropdown */
.dropdown a {
  font-size:16px;
  font-family:sans-serif;
  color: black;
  padding: 2px 8px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown a:hover {background-color: #eee}

