h1{font-weight:normal;}
.responsive{width:100%;height:auto;}
.section{float:right;padding:8px;}
.content{margin:auto;width:90%;text-align:center;}
img{border-radius:2%;pointer-events:none;}
/* menu icon */
.m {
  width: 30px;
  height: 2px;
  background-color: #333;
  margin: 6px 8px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  float:left;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  margin: 0px 20px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px #999;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #eee}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown when the dropdown content is shown */
.dropdown:hover {background-color:#eee;}
