nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}
nav a {
  font-size:26px;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
}
